[Desktop Entry]
Type=Application
Name=TOST
Comment=Manage TOST Steam integrations on Linux
Exec=tost
Icon=tost
Terminal=false
Categories=Utility;System;
Keywords=Steam;SLSsteam;TOST;
